.wrapper {
    width: 100%; max-width: 100%;
    margin: 20px 0 15px; padding: 20px 12px 10px;
    background-color: #fff;
    background-color: #fff;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.08);
    border-radius: 10px;

    @media (min-width: 767.98px) {
        margin: 0 0 20px;
    }

    .title {
        font-weight: 500;
        font-size: 19px;
        margin: 0 0 10px;
    }

    .counts {
        margin: 0 0 10px;
        display: flex; align-items: flex-end;
        font-size: 16px;

        .name {
            flex-shrink: 0;
            font-size: 17px;
            
            span {
                font-weight: 500;
            }
        }

        .dots {
            flex: 1 1 auto;
            transform: translateY(-3px);
            margin: 0 5px;
            border-bottom: 1px dashed #4f4f4f;
        }

        .price {
            font-weight: 500;
            color: #19b93c;
        }
    }
}